.side-menu {
  z-index: 10;
  background-color: white;
  border-top: 2px solid black;
  border-left: 2px solid whitesmoke;
  ion-list {
    ion-label {
      padding-left: 10px;
      &:hover {
        cursor: pointer;
      }
    }
  }
}
