.home-page {
  padding: 20px;
  display: flex;
  flex-direction: column;
}
.post {
  display: flex;
  align-items: center;
  column-gap: 20px;
  margin-bottom: 20px;
  h1 {
    writing-mode: vertical-rl;
    text-orientation: upright;
    text-transform: uppercase;
    font-family: "Courier New", Courier, monospace;
    font-weight: bold;
    .id {
      writing-mode: vertical-lr;
      text-orientation: sideways;
      font-family: "Courier New", Courier, monospace;
      font-weight: 100;
    }
  }
  p {
    font-size: 1.5rem;
    font-family: "Courier New", Courier, monospace;
    padding-bottom: 10px;
    border-bottom: 2px solid #10101044;
  }
}
