.side-menu {
  position: fixed;
  width: 400px;
  height: 100%;
  // background: red;
  right: 0;
  transition: right 0.5s ease;
  @media (max-width: 800px) {
    width: 100%;
  }
}

ion-header {
  ion-icon {
    color: #101010;
  }

  ion-toolbar {
    ion-title {
      svg {
        width: 60px;
        &:last-child {
          width: 40px;
          margin-left: 3px;
        }
      }
    }
  }
}

#react-logo {
  animation: rotate 10s linear infinite;
  transform-origin: center;
}

@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

.page {
  border: 2px solid black;
  margin: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
